<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update Location</title>
</head>

<body>

<h2>Cập nhật vị trí tài sản</h2>

<form action="/update-location" method="POST">

<input type="hidden" name="asset_id" value="{{ asset.ID_assets }}">

<label>Auditorium</label>
<input name="auditorium" required>

<label>Floor</label>
<input name="floor" required>

<label>Room</label>
<input name="room" required>

<button type="submit">Update</button>

</form>

<script>

const path=window.location.pathname
const id=path.split("/").pop()

document.getElementById("assetID").value=id

</script>

</body>
</html>
